---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

let title = "首页";
let description = "隆海的站点";
---

<html lang="zh">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <details class="dropdown">
        <summary class="btn m-1">open or close</summary>
        <ul
          class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
        >
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </details>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<script is:inline>
  if (localStorage.getItem("theme") === null) {
    document.documentElement.setAttribute("data-theme", "light");
  } else
    document.documentElement.setAttribute(
      "data-theme",
      localStorage.getItem("theme")
    );
  function updateThemeIcon() {
    const theme = localStorage.getItem("theme") || "light";
    const isDark = theme === "dark";
    document.getElementById("icon-sun").classList.toggle("hidden", !isDark);
    document.getElementById("icon-moon").classList.toggle("hidden", isDark);
  }

  // 初次加载时设置图标
  updateThemeIcon();

  // 绑定点击事件
  document.getElementById("theme-toggle").addEventListener("click", () => {
    const currentTheme = localStorage.getItem("theme") || "light";
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    localStorage.setItem("theme", newTheme);
    document.documentElement.setAttribute("data-theme", newTheme);
    updateThemeIcon();
  });
</script>
<script>
  import { themeChange } from "theme-change";
  themeChange();
</script>
