---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

let title = "首页";
let description = "隆海的站点";
---

<html lang="zh">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <details class="dropdown">
        <summary class="btn m-1">open or close</summary>
        <ul
          class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
        >
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </details>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<script is:inline>
  // ☝️ This script prevent the FART effect.
  if (localStorage.getItem("theme") === null) {
    document.documentElement.setAttribute("data-theme", "light");
  } else
    document.documentElement.setAttribute(
      "data-theme",
      localStorage.getItem("theme")
    );
  // "theme" LocalStorage value is set by the package to remember user preference.
  // The value is checked and applyed before rendering anything.
</script>
<script>
  import { themeChange } from "theme-change";
  themeChange();
  // 👆 you could import the CDN directly instead of these two lines
</script>
